<h1>New Article</h1>
<form action="/articles" method="POST">
    Article [[Title: <input type="text" name="article[title]" id="title">
    Article Content: <input type="text" name="article[content]" id="content">
    <input type="submit" name="Submit" id="">
</form>